In [53]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize

In [61]:
raw_df = pd.read_csv('data/finalised_dataset.csv')

In [62]:
raw_df.head(2)

,Unnamed: 0,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating
0,0,1,"capsicum , pepper bell , soy sauce , sunflower",5 spice vegetable fried rice,Indian Subcontinent,17,easy,5
1,1,2,"buttermilk , cumin , fenugreek , ginger garlic...",aachar aaloo,Indian Subcontinent,19,easy,4

In [63]:
raw_df = raw_df.drop(columns=['Unnamed: 0'])

In [64]:
raw_df.head(2)

,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating
0,1,"capsicum , pepper bell , soy sauce , sunflower",5 spice vegetable fried rice,Indian Subcontinent,17,easy,5
1,2,"buttermilk , cumin , fenugreek , ginger garlic...",aachar aaloo,Indian Subcontinent,19,easy,4

In [54]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [65]:
# Create an empty list to store the presence of "egg" for each row
egg_present_list = []

# Iterate over each row in the DataFrame
for index, row in raw_df.iterrows():
    ingredients_list = row['Ingredients']
    ingredients_tokens = word_tokenize(ingredients_list)
    if "egg" in ingredients_tokens:
        egg_present_list.append(1)
    else:
        egg_present_list.append(0)

# Add the list as a new column in the DataFrame
raw_df['egg_present'] = egg_present_list

In [66]:
raw_df.sample(5)

,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating,egg_present
4601,4603,"cooking oil , coriander seed , cumin , curry l...",Dosa Podi with Garlic,Indian Subcontinent,20,easy,1,0
45412,45435,"artichoke , basil , bread , butter , chicken ,...","Pinto Bean, Sausage, and Fennel Gratin",USA,45,hard,2,0
27293,27303,"basmati , bay leaf , brandy cognac , butter , ...",Shrimp Bisque,USA,5,easy,1,0
13245,13248,"cilantro , garlic , garlic , habanero , lemon ...",Lemon Zest Mango Salsa,Spain,10,easy,3,0
7469,7471,"cheese cheddar , corn oil , egg , flour , jala...",Jodi's Deep-Fried Stuffed Jalapenos,Mexico,45,hard,4,1

In [52]:
raw_df['egg_presnet'].value_counts()

egg_presnet
0    45749
Name: count, dtype: int64

In [67]:
raw_df.to_csv('egg_prsence_added_column_dataset.csv')